body{
  margin: 0;
  font-family: sans-serif;
}
.sec1{
  margin: 40px 265px;
  height: 90px;
}
navbar{
  display: flex;

}
.logo{
  color: blue;
  font: size 1.4em;rem;
  font-weight: 700;
  width: 45%;
}
.logo a{
  text-decoration: none;
}
.nav{
  width: 40%;
}
.nav ul{
  display: flex;
  list-style: none;
  color: red;
  
}
.nav ul li{
  padding: 0px 25px;
  
}
.nav ul li a{
  text-decoration: none;
  color: gray;
}
.button{
  width: 10%;
}
.myBtn{
  background-color: blue;
  color: white;
  border : none;
  border-radius: 6px;
  padding: 15px 30px;
}
/* sec1 end -sec2 starts */
.sec2{
  height: 60vh;
  display: flex;
  float: left;
  margin: 0px 265px;
  overflow: hidden;
}
.side1{
  width: 50%;
  padding-top: 2.5rem;
}
h2{
  font-size: 2.5rem;
}
p{
  font-size: 1.2rem;
}
.myBtn1{
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border : none;
  border-radius: .5rem;
  padding: 15px 30px;
  border: 3px solid blue;
}
.myBtn2{
  background-color: #dae7fb;
  color: blue;
  font-size: 1rem;
  font-weight: 700;
  border : none;
  border-radius: .5rem;
  padding: 15px 30px;
  border: 3px solid #dae7fb;
  
}
.side2{
  width: 50%;

}
.side2 img{
  width: 100%;
}
/* sec2 end and sec3 starts */
.sec3{
  
  background-color: #f2f6fc;
  height: 200vh;
  width: 100%;
  overflow: hidden;
}
.top-area-img{
  background-color: white;
  text-align: center;
  margin-top: 0px;
  height: 100px;
  background-image: url("images/shadow1.png");
  background-size: cover;
}
.top-area h3 {
  margin-top: 0px;
  text-align: center;
}
.top-area p{
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  gap: 10px;
  padding: 10px;
  margin: 40px 265px;
}
.demo h4{
  font-size: 20px;
  height: 30px;
  text-align: center;
}
.demo img{
  width: 100%;
  border-radius: 10px;
}
.lastImage{
  height: 125px;
  background-image: url("images/shadow2.png");
  background-repeat: none;
  background-size: cover;
}

/* sec3 end sec4 starts */
.grid-container-sec4{
  display: grid;
  grid-template-columns: auto auto auto ;
  gap: 50px;
  padding: 10px;
  margin: 40px 265px;
}
.mytable{
  width: 100%;
  height: auto;
  border: none;
  border-collapse: collapse;
  box-shadow: #c5ccd6 2px 2px 4px 4px;
  border-radius: 10px;
}
.myData{
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 1px #c5ccd6 solid;
  height: 30px;
  padding: 0%;
}
.myData:hover{
  background-color: #c5ccd6;
}
.dataLink{
  text-decoration: none;
  color: black;
}
.dataAndI{
  display: flex;
  justify-content: space-between;
}
small{
  font-size: .875em;
}
/* section5 starts and sec4 ends */
.sec5{
  background-color: #f2f6fc;
}
.sec5-top-img{
  background-image: url("images/shadow1.png");
  height: 100px;
}
/* /* section6 starts and sec5 ends */
.textPart{
  text-align: center;
}
.textPart h1{
  font-size: 5rem;
  color: #c5ccd6;
}
.textPart h3{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #363d47;
}
.textPart p{
  font-size: 1.2rem;
}
/* section7 starts and section6 ends */
.sec7{
  background-color: #f2f6fc;;
}
.sec7-back-img{
  background-image: url("images/shadow1.png");
  height: 100px;
}
.grid-container-last{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
  margin:  0px 265px;
  border-bottom: 2px solid rgba(0,0,0,.125);
}
.sec7-part h5{
  font-size: 1.4rem;
  color: #c5ccd6;
}
.sec7-part p{
  color: #c5ccd6;
}
.fa-fa-logo{
  font-size: 24px;
  color: #c5ccd6;
}
.sec7-list li{
  list-style: none;
}
.sec7-list li a{
  text-decoration: none;
  color: #c5ccd6;
}
/* footer area */
.grid-container-footer{
  display: grid;
  grid-template-columns: auto auto;
  margin:  0px 265px;
  overflow: hidden;
}
.footer-Part1{
  width: 50%;
}
.copy{
  font-size: .875em;
  color: #c5ccd6;
}
.privacy{
  font-size: .875em;
  text-align: end;
  color: #c5ccd6;
}