@media (max-width: 320px) {
	body{
        margin: 0px 0px;
    }
    .section1{
    margin: 0;
    }
    .sec1{
        width: 100%;
        float: left;
    }
    .side1{
        width: 100%;
        float: left;
        margin-top: none;
    }
    .side1 h2{
        font-size: x-large;
    }
    .side1 p{
        font-size: large;
    }
    .side2{
        width: 100%;
        float: left;
    }
    .side2 img{
        width: 100%;
    }
    .btn1{
        padding: 5px 10px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .btn2{
        padding: 5px 10px;
        background-color: #81a7f7;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .sec2{
        margin: 0px;
    }
    .cart{
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-top: 15px;
    }
    .sec3{
        margin:0px;
    }
    .pages{
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    .sec6{
        margin: 1px;
    }
    .textPart{
        width: 100%;
        text-align: center;
        float: left;
        padding-left: 0px;
    }
    .sec7-margin{
        margin: 10px;
    }
    .sec7-part{
        width: 100%;
        float: left;
        padding-left: 0px;
        text-align: center;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
	body{
        margin: 0px 0px;
    }
    .section1{
        margin: 0;
    }
    .side1{
        width: 100%;
        float: left;
        margin-top: none;
    }
    .side1 h2{
        font-size: x-large;
    }
    .side1 p{
        font-size: large;
    }
    .side2{
        width: 100%;
        float: left;
    }
    .side2 img{
        width: 100%;
    }
    .btn1{
        padding: 5px 10px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .btn2{
        padding: 5px 10px;
        background-color: #81a7f7;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .sec2{
        margin: 0px;
    }
    .cart{
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-top: 15px;
    }
    .sec3{
        margin:0px;
    }
    .pages{
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    .sec6{
        margin: 3px;
    }
    .textPart{
        width: 100%;
        text-align: center;
        float: left;
        padding-left: 0px;
    }
    .sec7-margin{
        margin: 10px;
    }
    .sec7-part{
        width: 100%;
        float: left;
        padding-left: 0px;
        text-align: center;
    }
    
}
@media (min-width: 376px) and (max-width: 425px) {
	body{
        margin: 0px 0px;
    }
    .section1{
        margin: 0;
    }
    .side1{
        width: 100%;
        float: left;
        margin-top: none;
    }
    .side1 h2{
        font-size: x-large;
    }
    .side1 p{
        font-size: large;
    }
    .side2{
        width: 100%;
        float: left;
    }
    .side2 img{
        width: 100%;
    }
    .btn1{
        padding: 7px 14px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .btn2{
        padding: 7px 14px;
        background-color: #81a7f7;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .sec2{
        margin: 0px;
    }
    .cart{
        width: 100%;
        float: left;
        padding: 0px;
        padding-left: 0px;
        padding-top: 15px;
    }
    .sec3{
        margin:10px;
    }
    .pages{
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    .sec6{
        margin: 10px;
    }
    .textPart{
        width: 100%;
        text-align: center;
        float: left;
        padding-left: 0px;
    }
    .sec7-margin{
        margin: 10px;
    }
    .sec7-part{
        width: 50%;
        float: left;
        padding-left: 0px;
        text-align: center;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
	body{
        margin: 0px;
    }
    .section1{
        margin: 60px;
    }
    .side1{
        width: 100%;
        float: left;
        margin-top: none;
    }
    .side1 h2{
        font-size: x-large;
    }
    .side1 p{
        font-size: large;
    }
    .side2{
        width: 100%;
        float: left;
    }
    .side2 img{
        width: 100%;
    }
    .btn1{
        padding: 7px 14px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .btn2{
        padding: 7px 14px;
        background-color: #81a7f7;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        font-size: large;
    }
    .sec2{
        margin: 60px;
    }
    .cart{
        width: 48%;
        float: left;
        padding-top: 5px;
        padding-left: 5px;
    }
    .sec3{
        margin:60px;
    }
    .pages{
        width: 48%;
        float: left;
        padding-left: 10px;
    }
    .sec6{
        margin: 60px;
    }
    .textPart{
        width: 47%;
        text-align: center;
        float: left;
        padding-left: 15px;
    }
    .sec7-margin{
        margin: 60px;
    }
    .sec7-part{
        width: 25%;
        float: left;
        padding-left: 0px;
        text-align: center;
    }
    .legal{
        width: 100%;
        float: left;
    }
}

